.main-container {
  padding: 30px;
  overflow: auto;
}
.admin-header{
  display: flex;
  justify-content: center;
}
.header-item{
  font-size: 1.2em;
  color: var(--body-color);
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
  padding: 0 30px 10px 30px;
}
.header-item:hover, .header-item.is-active {
  color: #fff;
  font-weight: 600;
}