@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: linear-gradient(#141e30, #243b55);
  padding: 0 10px;
}
.wrapper{
  max-width: 500px;
  width: 100%;
  background: rgba(0,0,0,.5);
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  border-radius: 10px;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #00EDA3;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.wrapper .form .inputfield:nth-child(2) .pw{
  display: flex;
  width: 100%;
}
.wrapper .form .inputfield:nth-child(2) .btn{
  width: 40%;
}
.wrapper .form .inputfield label{
  width: 200px;
  color: #ffffff;
  font-size: 14px;
  margin-right: 10px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}

.wrapper .form .inputfield .btn{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #00EDA3;
  color: rgba(0,0,0,.5);
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  margin-left: 5px;
}

.wrapper .form .inputfield .btn:hover{
  background: #2ad093;
}
.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}